.parent{
  display: flex;
  flex-direction:column-reverse;
 justify-content: flex-start;

}


.childOne{
  width: 30%;
  padding : 2%;
  border: 1px solid #ddd;
   margin:5%;
  }
  .childTwo{
    width:70%;
    padding : 2%;
    border: 1px solid #ddd;
     margin:5%;
    }
