.parent{
  display:flex;
  flex-direction:row;
 justify-content: flex-start;
}
.childOne{
  width:25%;
  padding:3%;
  border:2px solid #66CCFF;
  margin:5%;
  box-shadow:3px 3px 3px #66CCFF;
  border-radius: 4px;
  text-align:center;
 background-color:#66CCFF;
 box-decoration-break:slice;
  }
  .childTwo{
    width:40%;
    padding:2%;
    border:1px solid #ddd;
    margin:5%;
    text-align:center;

    }
img{
  width:20%;
  height:20%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}



/*this is for mobile view*/
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display: flex;
    flex-direction:column;
   justify-content:content;

  }
  .childOne{
    width:80%;
    padding:2%;
    border:1px solid #ddd;
    margin:5%;
    box-shadow:3px 3px 3px #ddd;
    border-radius:2px;
    text-align:center;
    background-color:#FFCE85;
    box-decoration-break:slice;
     }
    .childTwo{
      width:70%;
      padding:1%;
      border:1px solid #ddd;
      margin:5%;
      text-align:center;
      box-decoration-break:slice;
     }
  img{
    width:25%;
    height:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
/*this is for tab*/
@media only screen and (min-width:481px) and (max-width:769px){
  .parent{
    display: flex;
    flex-direction:row;
   justify-content:content;
   background-color:red;
  }
  .childOne{
    width:60%;
    padding:2%;
    border:1px solid #ddd;
    margin:1%;
    box-shadow:3px 3px 3px  #ddd;
    border-radius:2px;
    text-align:center;
    background-color:#C6FF95;
     }
    .childTwo{
      width:40%;
      padding:1%;
      border:1px solid #ddd;
      margin:6%;
      text-align:center;
      border-color:#B6EA89;
   }
  img{
    width:40%;
    height:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
/*this is for desktop*/
@media only screen and (min-width:770px) and (max-width:1024px){
  .parent{
    display: flex;
    flex-direction:row;
   justify-content:content;

  }
  .childOne{
    width:50%;
    padding:2%;
    border:1px solid #ddd;
    margin:2%;
    box-shadow:3px 3px 3px #ddd;
    border-radius:2px;
    text-align:center;
    background-color:#C6FF95;
     }
    .childTwo{
      width:50%;
      padding:1%;
      border:1px solid #ddd;
      margin:2%;
      text-align:center;
      background-color:#FFCE85;

     }
  img{
    width:25%;
    height:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
