.parent{
  display: flex;
  flex-direction:column-reverse;
 justify-content: flex-start;

}


.childOne{
  width: 25%;
  padding :2%;
  border: 2px solid #ddd;
  margin:5%;
  box-shadow:6px 6px 6px #ddd;
  box-radius:20px;
  }
  .childTwo{
    width:20%;
    padding : 2%;
    border: 1px solid #ddd;
     margin:5%;
    }
img{
  width:20%;
  height:20%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
